html{
	background-image: url("http://image.shutterstock.com/z/stock-vector-dark-blue-color-light-abstract-technology-background-for-computer-graphic-website-internet-and-293835902.jpg");
}

body{
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}

header {
	margin-bottom: 2%;
	color: white;
}

footer {
	margin-top: 4%;
	text-align: center;
	color: white;
}

section {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	border: 1px solid;
	background-color: beige;
	border-radius: 10px;
	height: 70em;
}

section.column-1 {


}

section.column-2 {

}

article {
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 1em;
	padding-top: 1em;
}
footer a {
	color: white;
}