#contact-info {
	font-size: 0.8em;
}

.job {
	background-color: #E9E5DC;
	border-radius: 10px;
	padding: 10px;
	margin-top: 0.5em;
}

.accomplishments {
	font-size: 0.8em;
}

#contact-info p:nth-child(2) {
	color: blue;
}

ul li {
	padding: 1px;
}